/* Variables.scss */


/* colors */

$clr-root: #ffffff;
$clr-base: #b4b4b4;
$clr-default: #4a4a4a;
$clr-primary:#6ed2f6;
$clr-secondary:#000;

/* Font Weight */

$font-light:200;
$font-normal:400;
$font-medium:500;
$font-semibold:600;
$font-bold:700;

/* breakpoints */

$mobile-breakpoint: 768px;