/*
  @Author : Payal Butala
  @Project : Pizza App
  @Dev : Payal
  @Date :28rd June 2018
*/


/* config */

@import "config/variables";

/* element */

@import "element/reset";
@import "element/elements";

/* layout */

@import "layout/lyt-interface";